*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-size: 14px;
}
.main-container{
	padding: 30px;

}
.container{
	flex-grow: 1;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	  grid-template-rows: 200px 200px; 
	  grid-column-gap: 10px;
	  grid-row-gap: 10px;
	  margin-bottom: 20px;
	  max-width: 500px;
}
.zone{
	background:  #011627;
	color: #fff;
	 padding: 15px;
}
.game{
	display:flex;
}
.btn{
	outline:none;
	border:0;
	cursor: pointer;
	position: relative;
	margin: 0 auto 30px;
	background: #011627;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	padding: 5px 15px;
	border-radius: 10px;
	box-shadow: 0 6px #010d17;
	transition: .05s;
	transition: .05s;

}

.btn:hover{	
	box-shadow: 0 4px #010d17;
	top:2px;
}
.btn:active{
	box-shadow: none;
	top:6px;
}
.output{
	padding: 0 30px ;
}
.title{
	font-size: 24px;
	font-weight: bold;
}